@model Employee
@{
	ViewData["Title"] = "Add";
}
<form asp-action="Insert" asp-controller="Employees" method="post" >
	<div class="input-group mb-3">
		<span class="input-group-text">ID</span>
	<input asp-for="Id" class="form-control"  />
	<br/>
	</div>
	<div class="input-group mb-3">
		<span class="input-group-text">Name</span>
		<input asp-for="Name" class="form-control"  />
	<br/>
	</div>
	<div class="input-group mb-3">
		<span class="input-group-text">Address</span>
		<input asp-for="Adress" class="form-control"  />
	<br />
	</div>
	<div class="input-group mb-3">
		<span class="input-group-text">Salary</span>
		<input asp-for="Salary" class="form-control"  />
	<br />
	</div>
	<div class="input-group mb-3">
		<span class="input-group-text">department</span>
		<input asp-for="department" class="form-control"  />
	<br />
	</div>
	<div class="input-group mb-3">
	
		<span class="input-group-text">Email</span>
		<input asp-for="Email" class="form-control"  />
	
		<span class="input-group-text">Password</span>
		<input asp-for="Password" class="form-control"  />
	<br />
	</div>
	<div class="input-group mb-3">
		<span class="input-group-text">Office ID</span>
		<select asp-for="Office_Id" asp-items="ViewBag.Office" class="form-select" aria-label="Default select example">
			<option selected>Press to select</option>
		
	</select>
	<br />
	</div>
	<div class="input-group mb-3">
		<input type="submit" class="btn btn-outline-primary" value="Add" />
	</div>

</form>