@Model Employee
@{
	ViewData["Title"] = "Add";
}
<form action="/Employees/Insert" >
	<div class="input-group mb-3">
		<span class="input-group-text">ID</span>
	<input type="number" class="form-control" id="Id" name="Id" />
	<br/>
	</div>
	<div class="input-group mb-3">
		<span class="input-group-text">Name</span>
		<input type="text" class="form-control" id="Name" name="Name" />
	<br/>
	</div>
	<div class="input-group mb-3">
		<span class="input-group-text">Address</span>
		<input type="text" class="form-control" id="Adress" name="Adress" />
	<br />
	</div>
	<div class="input-group mb-3">
		<span class="input-group-text">Salary</span>
		<input type="number" class="form-control" id="Salary" name="Salary" />
	<br />
	</div>
	<div class="input-group mb-3">
		<span class="input-group-text">department</span>
		<input type="text" class="form-control" id="department" name="department" />
	<br />
	</div>
	<div class="input-group mb-3">
	
		<span class="input-group-text">Email</span>
		<input type="text" class="form-control" id="Email" name="Email" />
	
		<span class="input-group-text">Password</span>
		<input type="text" class="form-control" id="Password" name="Password" />
	<br />
	</div>
	<div class="input-group mb-3">
		<span class="input-group-text">Office ID</span>
		<select name="Office_Id" id="Office_id" class="form-select" aria-label="Default select example">
		@foreach (Office off in ViewBag.Office)
		{			
				<option value="@off.Id">@off.Name</option>			
		}
	</select>
	<br />
	</div>
	<div class="input-group mb-3">
		<input type="submit" class="btn btn-outline-primary" value="Add" />
	</div>

</form>